document.querySelector('.modal__content').innerHTML = `
  <%= form_with model: @invitation do |form| %>
    <%= form.label :email, 'Share cycle with a new Customer:' %>
    <%= form.text_field :email, placeholder: 'Email Addresses...', class: 'email' %>
    <hr>
    <%= form.label :message, 'Want to include a message with the invite?' %>
    <%= form.text_area :message, placeholder: 'Please enter your message...', size: '40x5', class: 'message' %>
    <hr>
    <p class="modal__info">You are about to share with the individuals above:</p>
    <p class="modal__cycle-name">– <%= @invitation.cycle.name %></p>
    <hr>
    <%= form.hidden_field :cycle_id, value: @invitation.cycle.id %>
    <%= form.submit 'SEND INVITATION'%>
  <% end %>
`
document.querySelector('#modal').openModal()
